*, *:after, *:before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6AD5;
    height: 50px;
}
.nav_item{
    text-decoration: none;
    color: white;
    margin: 0 25px 0 12px;
    font-family: amboy-inline,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.flag{
    max-height: 40px;
    margin: 5px;
}
.banner_container{
    overflow: hidden;
    max-height: 775px;
    position: relative;
}
.video{
    max-width: 100%;
    outline: 5px;
    outline-color: white;
    outline-style: solid;
}
.banner_text{
    color: #FF6AD5;
    font-size: 6vw;
}
.header_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    z-index: 1;
    width: 100%;
}
.mood_title_container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background: #94D0FF;
    padding: 32px;
    width: 40%;
    outline: 5px;
    outline-color: white;
    outline-style: solid;
}
.mood_title_text{
    color: white;
    font-family: amboy-inline,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.body{
    background: #8795E8;
}
.mood_outer_container{
    display: flex;
}
.mood_content_container{
    flex: 33.33%;
    padding: 7px;
}
.me{
    max-width: 100%;
}
.emotion_text{
    text-align: center;
    font-size: 45px;
    font-family: 'Comic Sans SF', cursive;
    color: #10D7AE;
}
.contact_container{
    background-color: #94D0FF;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 325px;
    font-family: 'Comic Sans SF', cursive;
    text-decoration: none
}
.contactus_container{
    width: 320px;
    font-size: 16px;
}
.contactus_text{
    color: white;
    text-decoration: none;
}
.some_container{
    width: 150px;
    font-size: 16px;
    font-family: 'Comic Sans SF', cursive;
}
.some_list{
    margin-top: 5px;
    list-style-type: none;
}
.some_icon{
    color: white;
}
.somelist_element{
    margin: 0 0 10px 0;
    font-family: 'Comic Sans SF', cursive;
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: white;
}
.different_text{
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color: white;
}
.different_container{
    display:flex;
    align-items:center;
    justify-content:space-around;
    height: 200px;
    outline: 5px;
    outline-color: white;
    outline-style: solid;
    background: #b967ff;
    margin: 25px;
}
.different_title{
    color: white;
    font-family: amboy-inline,sans-serif;
    font-weight: 400;
    font-style: normal;
}
