.wrapper_container{
    margin: 0 auto 0 auto;
    max-width: 1100px;
}
.aboutus_article{
    columns: 200px;
    margin: 15px 15px 55px 15px;
}
.aboutus_image{
    max-width: 100%;
}
.subheadline{
    margin-top: 10px;
}
